.container {
  background-color: white;
  padding-bottom: 15px;
}

/* The banner with the button */
.banner {
  position: relative;
}

.pictureBanner {
  width: 100%;
}

.btnBanner {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1d7ed8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Montserrat;
  transition-duration: 0.4s;
}

.btnBannerStyle {
  background-color: #bb0000;
  color: white;
  border: 2px solid #bb0000;
}

.btnBannerStyle:hover {
  background-color: white;
  color: #8c8c8c;
}

/* The small cards with buttons on the cards */
.cardsContainer {
  display: flex;
  margin: 40px auto;
  max-width: 1350px;
  text-align: center;
}

.card {
  position: relative;
}
.picture {
  width: 80%;
}

.btn {
  /* These lines position the button exactly in the centre of the parent "relative" element */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #1d7ed8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Montserrat;
  transition-duration: 0.4s;
}

.btnstyle {
  background-color: #1d7ed8;
  color: white;
  border: 2px solid #1d7ed8;
}

.btnstyle:hover {
  background-color: white;
  color: #8c8c8c;
}
