.container {
  background-color: white;
  margin: 25px 0 0 0;
}

.topRow {
  display: flex;
  justify-content: space-evenly;
}
.column {
  text-align: left;
}

.link {
  font-size: 9pt;
  margin: 0;
}

.title {
  font-size: 10pt;
}

/* Bottom Row */
.bottomRow {
  display: flex;
  justify-content: space-evenly;
  font-size: 10pt;
  align-items: center;
  margin: 20px;
}

.contact {
  display: flex;
  align-items: center;
}
.avatar {
  height: 30px;
}

.contactText {
  margin-right: 10px;
  margin-left: 10px;
}

.faqbut {
  margin-right: 285px;
}

.faqbut button {
  width: 100px;
  height: 35px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  background-color: white;
  color: #8c8c8c;
  border: 2px solid #1d7ed8;
}

.faqbut button:hover {
  background-color: #1d7ed8;
  color: white;
}
