/* NavHeader container */
.container {
  display: flex;
  height: 70px;
  background-color: white;
  margin: 25px 0;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* The below makes the nav bar fixed to the top of the page */
  /* position: fixed; 
  z-index: 1;
  width: 100%;
  max-width: 1350px; */
}

/* Navigation links container */
ul {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
}

/* Individual links */
a {
  padding: 10px;
  color: #8c8c8c;
  text-decoration: none;
}

a:hover,
a:active,
a.active {
  color: #105dc2;
  padding-bottom: 1px;
  border-bottom: 2px solid #95bcf0;
}

/* Search Box */
.search {
  background-color: #eaeaea;
  text-align: center;
  margin-left: 30px;
  margin-right: 40px;
  border-radius: 5px;
  border: solid 2px #eaeaea;
  width: 250px;
  height: 30px;
  font-size: 12pt;
  font-family: inherit;
}

/* Remove the underlining from the Turner's logo */
.turnersLogo:hover {
  border-bottom: unset;
}

/* General button styling */
.button {
  width: 100px;
  height: 35px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}

/* Login button */
.loginButton {
  background-color: white;
  color: #8c8c8c;
  border: 2px solid #1d7ed8;
}

.loginButton:hover {
  background-color: #1d7ed8;
  color: white;
}

/* Register button */
.registerButton {
  background-color: #1d7ed8;
  color: white;
  border: 2px solid #1d7ed8;
}

.registerButton:hover {
  background-color: white;
  color: #8c8c8c;
}

/* Chinese language */
.lang {
  margin-left: 20px;
  font-size: 10pt;
  color: #9b2940;
}
